<!DOCTYPE html>
<html>
<head>
    <title>Hepatitis Prediction</title>

</head>

<body>
	
    <h2> Prediction Results for the test set </h2>
    <h3> Die_Live = 1 if result is 1, 0 </h3>
    <h3> Die_Live = 2 if result is 0, 1 </h3>

    <table class ="border-table">
        
        <tr class = "border-table">
            <td class="border-table"><%= resultForTest1[0] %></td>
            <td class="border-table"><%= resultForTest1[1] %></td>

        </tr>
        <tr class="border-table">
            <td class="border-table"><%= resultForTest2[0] %></td>
            <td class="border-table"><%= resultForTest2[1] %></td>

        </tr>
        <tr class="border-table">
            <td class="border-table"><%= resultForTest3[0] %></td>
            <td class="border-table"><%= resultForTest3[1] %></td>

        </tr>
    </table>
    
</body>
</html>